<div class="container">
  <h1>Course Info</h1>
  <hr/>
  <form #courseForm="ngForm" >
    <div class="form-group row">
      <label class="col-sm-2 col form-label">
        Nome:
      </label>
      <div class="col-sm-10">
        <input [(ngModel)]="course.name" required #courseName="ngModel" name="name" class="form-control" [ngClass]="{'is-invalid': courseName.invalid}" />
        <div class="invalid-feedback">
          <span>Opa! necessário preencher este campo.</span>
        </div>
      </div>
    </div>
    <br/>
    <div class="form-group row">
      <label class="col-sm-2 col form-label">
        Preço:
      </label>
      <div class="col-sm-10">
        <input [(ngModel)]="course.price" required #coursePrice="ngModel" name="price" class="form-control" [ngClass]="{'is-invalid': coursePrice.invalid}" />
        <div class="invalid-feedback">
          <span>Opa! necessário preencher este campo.</span>
        </div>
      </div>
    </div>
    <br/>
    <div class="form-group row">
      <label class="col-sm-2 col form-label">
        Pontuação Estrela
      </label>
      <div class="col-sm-10">
        <input [(ngModel)]="course.rating" required #courseRating="ngModel" name="rating" class="form-control" [ngClass]="{'is-invalid': courseRating.invalid}" />
        <div class="invalid-feedback">
          <span>Opa! necessário preencher este campo.</span>
        </div>
      </div>
    </div>
    <br/>
    <div class="form-group row">
      <label class="col-sm-2 col form-label">
        Descrição
      </label>
      <div class="col-sm-10">
        <textarea [(ngModel)]="course.description" required #courseDescription="ngModel" name="description" class="form-control" [ngClass]="{'is-invalid': courseDescription.invalid}"  >
        </textarea>
        <div class="invalid-feedback">
          <span>Opa! necessário preencher este campo.</span>
        </div>
      </div>
    </div>
    <br/>
    <button [disabled]="courseForm.invalid" (click)="save()" class="btn btn-primary" >Salvar</button>
    <button class="btn btn-secondary ml-6" style="margin-left:16px;" >Voltar</button>
  </form>
</div>
